@import "tailwindcss";
/* Thiết lập chiều cao tối thiểu cho vùng soạn thảo văn bản của CKEditor 5 */
/* .ck-editor__editable_inline {
  min-height: 200px !important;
  max-height: 400px;
  
} */

/* Fix lỗi thanh công cụ Toolbar của CKEditor bị che khuất khi cuộn trong Modal */
.ck-body-wrapper {
  z-index: 99999 !important;
}

.ck-editor__editable_inline {
  min-height: 200px !important;
  border: 1px solid #d1d5db !important;
  padding: 10px !important;
  background: white !important;
}

.ck-toolbar {
  border: 1px solid #d1d5db !important;
}